---
import { SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Page.astro";
import { DEFAULT_LOCALE, type Locale } from "../shared/i18n";
import { getUiCopy } from "../shared/uiTranslations";

const locale = (Astro.props.locale ?? DEFAULT_LOCALE) as Locale;
const copy = getUiCopy(locale);
---

<Layout
  frontmatter={{
    title: copy.about.title,
    subTitle: copy.site.description || SITE_DESCRIPTION,
  }}
  locale={locale}
  className="h-resume article"
>
  <h3>{copy.about.heading}</h3>
  <h1 style={{ marginTop: 0 }}>{copy.about.name}</h1>

  <p class:list="p-summary">
    {copy.about.summary}
  </p>
  <p>
    {copy.about.reputation}
  </p>
  <p>
    {copy.about.openSource}
  </p>
  <div class="text-center">
    <br />
    <a href={`${"/docs/resume.pdf"}`}>
      <b>{copy.about.resume}</b>
    </a>
    <br />
  </div>
</Layout>
