---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/global.css';
import { SITE_DESCRIPTION, SITE_TITLE, SITE_SEO_DESCRIPTION } from '../consts';
// import '@/styles/gist-embed.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

let { title, description, image } = Astro.props;
if (description === 'undefined') {
	// @ts-ignore
	description = undefined;
}

const siteTitle = title || (SITE_TITLE + ' ' + SITE_DESCRIPTION);
const siteDescription = description || SITE_SEO_DESCRIPTION;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Tilt+Neon&display=swap" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Tilt+Neon:YROT@13&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Playwrite+AU+NSW:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Tilt+Neon:YROT@13&display=swap" rel="stylesheet">
<!-- Font preloads -->
<!-- <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin /> -->

<link rel="stylesheet" href="/styles/gist-embed.css" type="text/css" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->


<slot name="title">
	<title>{siteTitle}</title>
	<meta name="title" content={siteTitle} />
	<meta property="twitter:title" content={siteTitle} />
	<meta property="og:title" content={siteTitle} />
</slot>
<slot name="description">
	{siteDescription && <meta name="description" content={siteDescription} />}
	{siteDescription && <meta property="twitter:description" content={siteDescription} />}
	{siteDescription && <meta property="og:description" content={siteDescription} />}
</slot>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
{image && <meta property="og:image" content={new URL(image, Astro.url)} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
{image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}
