---
import clsx from "clsx";
import { PostCollections } from "../shared/dataCache.tsx";
import { slugify } from "../shared/pathHelpers.ts";

type Props = {
  category?: string;
  className?: string;
};

const { category, className } = Astro.props;
const posts = PostCollections.getPostsByCategory(category ?? "");
const count = posts.length;

// HACK: Check if we are in "quiz" land, and instead link to the challenges page
const getHref = (category: string) =>
  category.toLowerCase() === "quiz"
    ? `/challenges/`
    : `/category/${slugify(category)}`;
---

{
  category && (
    <label
      class={clsx("category-link", className)}
      title={
        count >= 2 ? `${count} posts in category` : `${count} post in category`
      }
    >
      {count > 2 ? <a href={getHref(category)}>{category}</a> : category}&#160;
      {count > 2 ? `(${count})` : ""}
    </label>
  )
}
