---
import { SOCIAL_GITHUB } from "../consts";
import { SOCIAL_TWITTER } from "../consts";
import { COPYRIGHT } from "../consts";

const today = new Date();

---

<footer class="content-grid">
	<p>&copy; 2008-{today.getFullYear()} {COPYRIGHT}</p>
	<p class="locations">🇿🇦 🇮🇪 🇬🇧 🇺🇸</p>
	<div class="social-links">
		<a rel="me" href={`https://github.com/${SOCIAL_GITHUB}`} target="_blank">
			<span class="sr-only">Go to Dan's GitHub</span>
			<img class="icon" src="/icons/github.svg" alt="GitHub" />
		</a>
		<a rel="me" href={`https://twitter.com/${SOCIAL_TWITTER}`} target="_blank">
			<span class="sr-only">Follow me on Twitter</span>
			<img class="icon" src="/icons/twitter.svg" alt="Twitter" />
		</a>
		<a rel="me" href={`https://mastodon.social/@${SOCIAL_TWITTER}`} target="_blank">
			<span class="sr-only">Follow me on Mastodon</span>
			<img class="icon" src="/icons/mastodon.svg" alt="Mastodon" />
		</a>
		<a rel="me" href={`https://bsky.app/profile/danlevy.net`} target="_blank">
			<span class="sr-only">Follow me on Bluesky</span>
			<img class="icon" src="/icons/bluesky.svg" alt="Bluesky" />
		</a>
		<a rel="me" href={`https://www.linkedin.com/in/realdanlevy/`} target="_blank">
			<span class="sr-only">Connect with me on LinkedIn</span>
			<img class="icon" src="/icons/linkedin.svg" alt="LinkedIn" />
	</div>
</footer>
<style>
	footer {
		padding: 8em .5em 6em .5em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: .9em;
	}
	footer .locations {
		margin: .125em 0;
	}
	footer p {
		margin: 0;
		padding: 0;
	}

	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
