---
import omit from "lodash/omit";
import { SITE_TITLE } from "../consts";
import NavMenu from "./NavMenu";
import avatarImage from "@/assets/avatar-88.webp";
import { PostCollections } from "@/shared/dataCache";
import SearchBar from "@/components/SearchUI/SearchBar.astro";
import type { ArticlePost } from "../types";

import "./Header.css";

type Props = {
  className?: string;
  date?: string;
  modified?: string;
};

const { className } = Astro.props;
const { getCategoryCounts, getPopularPosts, getRecentPosts } = PostCollections;
const imgPaths = ["data.cover", "data.cover_icon", "data.cover_mobile"];
const categories = getCategoryCounts();
const popularPosts = (getPopularPosts() as MyPost[]).map((p) =>
  getMinimalPostData(p, ["data.body", ...imgPaths]),
);
const recentPosts = (getRecentPosts() as MyPost[]).map((p) =>
  getMinimalPostData(p, ["data.body", ...imgPaths]),
);
// const tagCounts = getTagCounts();
// console.log("popularPosts", popularPosts[0]);

type Post<TData extends Record<string, any> = any> = {
  id: string;
  slug: string;
  collection: string;
  body: string;
  data: TData;
};
type MyPost = Post<ArticlePost["data"]>;

function getMinimalPostData(payload: unknown, omitFields = ["body"]) {
  if (!payload || typeof payload !== "object" || !("body" in payload))
    return {};
  const { body: _body, ...data } = payload;
  return omit(data, omitFields);
}
---

<header class:list={["top-header", "default-links", className]}>
  <div class:list={["header-nav", "h-card"]}>
    <h2>
      <a href="/" aria-label="Return Home">
        <img src={avatarImage.src} alt="Dan Levy's Avatar" class:list="u-logo"/>
        <span class="title">{SITE_TITLE}</span>
      </a>
    </h2>
    <div class="nav-box screenshot-hidden">
      <NavMenu  
        client:only="react"
        categories={categories}
        popularPosts={popularPosts}
        recentPosts={recentPosts}
      />
    </div>
  </div>
</header>

<SearchBar showImages={true} />
