---
import { SITE_TITLE } from "../consts";
import AnimatedLogoType from "./AnimatedLogoType.astro";
import NavMenu from "./NavMenu";
import avatarImage from "@/assets/avatar-88.webp";
import { PostCollections } from "@/shared/postsCache";
import SearchBar from "@/components/SearchUI/SearchBar.astro";
import type { ArticlePost } from "../types";

import "./Header.css";

type Props = {
  className?: string;
  date?: string;
  modified?: string;
};

const { className } = Astro.props;
const { getCategoryCounts, getPopularPosts, getRecentPosts } = PostCollections;
const categories = getCategoryCounts().slice(0, 6);
const popularPosts = (getPopularPosts() as MyPost[]).map(getNavPostData);
const recentPosts = (getRecentPosts() as MyPost[]).map(getNavPostData);
// const tagCounts = getTagCounts();
// console.log("popularPosts", popularPosts[0]);

type Post<TData extends Record<string, any> = any> = {
  id: string;
  slug: string;
  collection: string;
  body: string;
  data: TData;
};
type MyPost = Post<ArticlePost["data"]>;

function getNavPostData(post: MyPost) {
  const { title, subTitle, modified, date } = post.data;
  return {
    slug: post.slug,
    data: {
      title,
      subTitle,
      modified,
      date,
    },
  };
}
---

<header class:list={["top-header", "default-links", className]}>
  <div class:list={["header-nav", "h-card"]}>
    <h2>
      <AnimatedLogoType
        avatarSrc={avatarImage.src}
        siteTitle={SITE_TITLE}
      />
    </h2>
    <div class="nav-box screenshot-hidden">
      <NavMenu  
        client:idle={{ timeout: 1200 }}
        categories={categories}
        popularPosts={popularPosts}
        recentPosts={recentPosts}
      />
    </div>
  </div>
</header>

<SearchBar showImages={true} />
